<ul class="nav" role="menu">
  <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
  <li class="nav-dropdown" role="menuitem">
    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Tags
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      {% for tag in site.tags %}
        <a id="{{ tag[0] | slugify }}" class="dropdown-item" href="{{site.baseurl}}tag/{{ tag[0] | slugify }}">{{ tag | first }}</a>
      {% endfor %}
    </div>
  </li>
  <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>
  <div class="social-links">
    {% if site.facebook %}
      <a class="social-link social-link-fb" href="https://facebook.com/{{ site.facebook }}" target="_blank" rel="noopener">{% include facebook.html %}</a>
    {% endif %}
    {% if site.twitter %}
      <a class="social-link social-link-tw" href="https://twitter.com/{{ site.twitter }}" target="_blank" rel="noopener">{% include twitter.html %}</a>
    {% endif %}
    {% if site.github %}
      <a class="social-link" href="https://github.com/{{ site.github }}" target="_blank" rel="noopener">{% include github.html %}</a>
    {% endif %}
  </div>
</ul>
