/* ---------- */
/* Global */
:root {
  /* Colours */
  --white: #fff;
  --background-grey: #222;
  --yellow-link: rgb(255, 200, 0);
  --yellow-link-hover: rgb(225, 160, 0);
  --transparent-dark-bg: rgba(0,0,0,0.7);
  --background-dark-grey: #111;
  --blue: #3eb0ef;
  --green: #a4d037;
  --purple: #ad26b4;
  --yellow: #fecd35;
  --red: #f05230;
  --darkgrey: #15171A;
  --midgrey: #738a94;
  --lightgrey: #c5d2d9;
  --whitegrey: #e5eff5;
  --pink: #fa3a57;
  --brown: #a3821a;
}

body {
  background-color: var(--background-grey);
  color: var(--white) !important;
}

a:hover {
  color: var(--lightgrey) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: color(var(--darkgrey) l(-5%)) !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
}

strong,
em {
    color: color(var(--white) l(-5%)) !important;
}

dl,dd,dt {
  color: var(--white);
}

table {
  background-color: var(--background-grey) !important;
}

table th {
  color: inherit !important;
  background-color: var(--background-grey) !important;
}

table td:first-child, table td:last-child {
  background-image: none !important;
}

hr::after {
  box-shadow: none !important;
}

input, button, select, textarea {
  background-color: var(--background-grey);
}

figure {
  font-size: 1.5rem;
}

figure.image img {
  margin-bottom: 0;
}

figure.image figcaption {
  font-weight: 400;
  font-style: italic;
  font-size: 1.5rem;
  line-height: 1.7;
  color: var(--white);
  text-align: center;
}

.home-template, .paged.archive-template, .error-template {
  background-color: var(--background-grey);
}

.post-card-excerpt p {
  font-size: 1.3rem;
}

.older-posts, .newer-posts {
  border: 1px solid var(--lightgrey);
  color: var(--yellow-link) !important;
}

.older-posts:hover, .newer-posts:hover {
  border: 1px solid var(--white);
  color: var(--yellow-link-hover) !important;
}

.error-code {
  color: var(--yellow-link) !important;
  opacity: 1;
}

.error-description {
  color: var(--lightgrey) !important;
}

.error-link {
  color: var(--yellow-link);
}

#site-main > div > section > a:hover {
  color: var(--yellow-link-hover) !important;
}

.subscribe-form {
  background: var(--background-dark-grey);
}

.subscribe-form p {
  color: var(--lightgrey);
}

#subscribe .subscribe-email, .subscribe-form .subscribe-email {
  border: 1px solid var(--lightgrey) !important;
}

#subscribe button, .subscribe-form button {
  background: linear-gradient(var(--yellow-link), var(--yellow-link-hover));
}

/* Code blocks */
figure .toolbar-item {
  margin-right: 1rem;
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace !important;
}
:not(pre) > code[class*="language-"], pre[class*="language-"] {
  background: var(--background-grey) !important;
}
/* ---------- */


/* ---------- */
/* Pagination */
/* Overriding bootstrap */
.pagination {
  justify-content: center;
  color: var(--white);
  border-top: 1px solid var(--white);
}

.pagination::before {
  border: 1px solid var(--background-grey);
  background: var(--white);
  box-shadow: 0 0 0 5px var(--white);
}

.form-group {
  margin-bottom: 0;
}
/* ---------- */


/* ---------- */
/* Personnal logo(s) */
.github-logo {
  max-height:1.6rem;
}
/* ---------- */


/* ---------- */
/* Site-nav bar */
.nav {
  margin: auto;
}

.nav li a:hover {
  color: var(--white) !important;
}

.site-nav {
  background-color: var(--transparent-dark-bg);
  border-radius: 5px;
}

nav .dropdown-menu a.dropdown-item {
  cursor: pointer;
}

nav .dropdown-menu.show {
  background-color: var(--background-dark-grey);
  max-height: 20rem;
  overflow-y: auto;
}

nav .dropdown-item:focus, .dropdown-item {
  color: var(--white) !important;
}

nav .dropdown-item:focus, .dropdown-item:hover {
  background-color: var(--background-grey);
}
/* ---------- */


/* ---------- */
/* Post cards */
.post-card {
  box-shadow: 8px 14px 38px rgba(255,255,255,0.06), 1px 3px 8px rgba(255,255,255,0.23);
}

.post-card-content-link {
  padding: 25px 25px 0 !important;
}

.post-card-content-text {
  padding: 0 25px 0;
}

.post-card-content-text-link:hover {
  text-decoration: none;
}

.post-card-title, .post-card-excerpt {
  color: var(--white) !important;
}

.post-card-title:hover, .post-card-excerpt:hover {
  color: var(--lightgrey) !important;
}

.post-card-content {
  background-color: var(--background-dark-grey);
}

.post-card-tags {
  color: var(--yellow-link) !important;
}

.post-card-tags:hover {
  color: var(--yellow-link-hover) !important;
}

.post-card-meta .reading-time {
  color: var(--yellow-link) !important;
}

.post-card-author a {
  color: var(--yellow-link) !important;
}
/* ---------- */


/* ---------- */
/* Post page */
.floating-header.floating-active {
  background-color: var(--background-dark-grey);
}

.post-full-content {
  border-radius: 5px;
  padding: 5vw 7vw;
}

.post-full-content blockquote {
  border-left: 3px solid var(--yellow-link);
}

.floating-header-logo span {
  color: var(--white) !important;
}

.floating-header-title {
  color: var(--lightgrey);
}

.floating-header-share-label {
  color: var(--white);
}

.page-template .site-main, .post-template .site-main, .error-template .site-main {
  color: var(--white);
  background-color: var(--background-grey);
}

.progress {
  height: 0.3rem;
  border-radius: 0;
  background-color: rgba(0,0,0,0.5);
}

.progress::-webkit-progress-value{
  background-color:var(--yellow-link);
}

.post-full-meta {
  color: var(--white);
}

.post-full-meta span {
  color: var(--lightgrey);
}

.post-full-meta-date {
  color: var(--white);
}

.post-full-meta a {
  color:var(--yellow-link) !important;
}

.post-full-content {
  background-color: var(--background-dark-grey);
}

.post-full-content a {
  color: var(--white);
  box-shadow: inset 0 -1px 0 var(--yellow-link);
}

.read-next.outer {
  background-color: var(--background-grey);
}

.footnotes-sep::after {
  box-shadow: none !important;
}

.footnote-backref {
  color: var(--yellow-link) !important;
}

.footnote-backref:hover {
  color: var(--yellow-link-hover) !important;
}

.author-card-name a {
  color: var(--yellow-link) !important;
}

.author-card-name a:hover {
  color: var(--yellow-link-hover) !important;
}

.author-card-content p {
  color: var(--white) !important;
}

.author-card-button {
  color: var(--yellow-link) !important;
}

.author-card-button:hover {
  border-color: var(--yellow-link-hover);
}
/* ---------- */



/* ---------- */
/* Author page */
.author-header-div {
  display: flex;
  flex-direction: column;
  background-color: var(--transparent-dark-bg);
  border-radius: 5px;
  padding: 1rem 3rem 0;
}
/* ---------- */


/* ---------- */
/* Tag page */
.tag-header-div {
  background-color: var(--transparent-dark-bg);
  border-radius: 5px;
  padding: 0 3rem;
}
/* ---------- */